* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    text-align: center;
}

h1 {
    margin: 30px;
}

.creator {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 50px;
}

.character-preview {
    position: relative;
    width: 500px;
    height: 700px;
}

.character-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}

.controls {
    width: 250px;
    background: white;
    padding: 25px;
    border-radius: 15px;
}

.controls button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ddd;
    cursor: pointer;
}

.controls button:hover {
    background: #ccc;
}

.option-selector {
    margin-bottom: 25px;
}

.option-selector h2 {
    margin-bottom: 10px;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.option-row button {
    width: 40px;
    height: 40px;
    padding: 0;
    font-size: 20px;
    border: none;
    border-radius: 50%;
    background: #ddd;
    cursor: pointer;
}

.option-row button:hover {
    background: #ccc;
}

#skin-name {
    min-width: 70px;
}


/* back hair */

.hair-color-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #5a3825;

    /* -webkit-mask-image: url("assets/hair/back/color-area/color_area-1.png");
    mask-image: url("assets/hair/back/color-area/color_area-1.png");
    
    -webkit-mask-image: url("assets/hair/bangs/color-area/color_area-1.png");
    mask-image: url("assets/hair/bangs/color-area/color_area-1.png"); */

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}