* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f3f3f3;
    text-align: center;
}

h1 {
    margin: 30px;
}

.creator {
    display: grid;
    grid-template-columns: 260px 500px 260px;
    justify-content: center;
    align-items: start;
    gap: 40px;

    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.character-preview {
    position: sticky;
    top: 30px;

    width: 500px;
    height: 700px;
}

.character-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: contain;
    top: 0;
    left: 0;
}

.controls {
    width: 260px;
    max-height: calc(100vh - 100px);

    overflow-y: auto;

    background: white;
    padding: 25px;
    border-radius: 15px;
}

.controls button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 12px;
    border: none;
    border-radius: 8px;
    background: #ddd;
    cursor: pointer;
}

.controls button:hover {
    background: #ccc;
}

.option-selector,
.skin-options {
    margin-bottom: 25px;
}

.option-selector h2,
.skin-options h2 {
    margin-bottom: 10px;
}

.option-row {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.arrow-button {
    width: 40px !important;
    height: 40px !important;
    min-width: 40px !important;

    padding: 0 !important;
    margin: 0 !important;

    font-size: 20px;
    border: none !important;
    border-radius: 50% !important;

    background: #ddd !important;
    cursor: pointer;
}

.arrow-button:hover {
    background: #ccc !important;
}

#body-name,
#skin-name,
#back-hair-name,
#bang-hair-name,
#shirt-name,
#bottoms-name,
#blush-name,
#shoe-name,
#expression-name {
    min-width: 70px;
    text-align: center;
}


.skin-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.skin-color-button {
    width: 32px !important;
    height: 32px;
    min-width: 32px;

    padding: 0 !important;
    margin: 0 !important;

    border: 2px solid #ddd !important;
    border-radius: 8px !important;

    cursor: pointer;
}

.skin-color-button:hover {
    transform: scale(1.1);
    border-color: #888 !important;
}

/* skin color layer */
.skin-color-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #f5d0b5;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}

/* back hair */

.hair-color-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #5a3825;

    /* -webkit-mask-image: url("assets/hair/back/color-area/color_area-1.png");
    mask-image: url("assets/hair/back/color-area/color_area-1.png");
    
    -webkit-mask-image: url("assets/hair/bangs/color-area/color_area-1.png");
    mask-image: url("assets/hair/bangs/color-area/color_area-1.png"); */

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}

/* hair color buttons */
.hair-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.hair-color-button {
    width: 32px !important;
    height: 32px;
    min-width: 32px;
    padding: 0 !important;
    margin: 0 !important;

    border: 2px solid #ddd !important;
    border-radius: 8px !important;

    cursor: pointer;
}

.hair-color-button:hover {
    transform: scale(1.1);
    border-color: #888 !important;
}
/* page swithcing */
.right-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.right-page-header h2 {
    margin: 0;
}

.page-arrow {
    width: 40px !important;
    height: 40px !important;
    padding: 0 !important;
    margin: 0 !important;
    border-radius: 50% !important;
    font-size: 20px;
}

.right-page {
    width: 100%;
}
/* clothing color layer */

.clothing-color-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    background-color: #171717;

    -webkit-mask-size: contain;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;

    -webkit-mask-position: center;
    mask-position: center;
}

/* bkg */

.bkg-color-layer {
    position: absolute;
    inset: 0;
    
    background-color: #cbd0d4;

    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: contain;

    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    z-index: 0;
}

/* clothing color swatches */

.clothing-colors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
}

.clothing-color-button {
    width: 32px !important;
    height: 32px;
    min-width: 32px;

    padding: 0 !important;
    margin: 0 !important;

    border: 2px solid #ddd !important;
    border-radius: 8px !important;

    cursor: pointer;
}

.clothing-color-button:hover {
    transform: scale(1.1);
    border-color: #888 !important;
}



@media (max-width: 1100px) {

    .creator {
        grid-template-columns: 220px 400px 220px;
        gap: 20px;
    }

    .character-preview {
        width: 400px;
        height: 560px;
    }

    .controls {
        width: 220px;
    }
}

@media (max-width: 800px) {

    .creator {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .character-preview {
        order: 1;
        position: relative;
    }

    .controls-left {
        order: 2;
    }

    .controls-right {
        order: 3;
    }

    .controls {
        width: 90%;
        max-width: 400px;
        max-height: none;
    }
}